<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smart Home Simulator</title>
</head>
<body>
<h1>Список устройств</h1>
<nav>
    <a href="/scenarios">Сценарии</a>
</nav>
<table>
    <tr>
        <th>Имя</th>
        <th>Состояние</th>
        <th>Действие</th>
    </tr>
    <tr th:each="device : ${devices}">
        <td th:text="${device.name}">Device Name</td>
        <td th:text="${device.on ? 'Включено' : 'Выключено'}">Status</td>
        <td>
            <form th:action="@{/toggle}" method="post">
                <input type="hidden" th:name="id" th:value="${device.id}" />
                <button type="submit" th:text="${device.on ? 'Выключить' : 'Включить'}">Toggle</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
